* {
　text-align: center;
  box-sizing: border-box;
  list-style: none;
  margin: 10;
  padding: 10;
}

body {
  background-image: url("");
}

.header-upper {
  display: flex;
  margin: 20px;
}

.hcompany {
  display: flex;
}

.hcompany-logo-1 {
  height: 90px;
}

.hcompany-name-main h1 {
  font-size: 50px;
  margin: 0 10px;
}

.hcompany-name-main h1 span {
  font-size: 40px;
}

.hcompany-name-sub h2 {
  margin: 0 20px;
  font-size: 20px;
}

.hcontact {
  margin-left: auto;
}

.hcontact-tel {
  font-size: 50px;
}

.hlist-ul {
  display: flex;
  margin: 10px;
  font-size: 20px;
}

li {
  margin: 0 auto;
}

.main {
  text-align: center;
  margin-bottom: 50px;
}

.main h2 {
  text-align: center;
  margin: 20px 0 5px 0;
  font-size: 40px;
}

.main-upper {
  display: flex;
  justify-content: space-around;
  background-image: url("https://github.com/tomohirowashimi/hks/blob/master/back-fig2.png?raw=true");
  background-size: contain;
}

.main-upper h3 {
  font-size: 25px;
  margin: 5px;
}

.main-lower {
  display: flex;
  justify-content: space-around;
  background-image: url("https://github.com/tomohirowashimi/hks/blob/master/back-fig2.png?raw=true");
  background-size: contain;
}

.main-lower h3 {
  font-size: 25px;
  margin: 5px;
}

.mcase-fig {
  height: 250px;
  border: solid;
  border-radius: 10px;
}

.price {
  margin-bottom: 30px;
}

.price h2 {
  margin: 20px 0 10px 10px;
  font-size: 30px;
}

.price-content {
  display: flex;
  margin: 0 0 20px 0;
  border: solid 1px #000000;
}

.pcontent-fig {
  margin: 0 0 0 40px;
  height: 150px;
}

.pcontent-left-name h3 {
  margin: 10px 0 0 40px;
  font-size: 30px;
  color: blue;
}

.pcontent-right-price {
  margin: 10px 0 0 0;
  font-size: 30px;
  color: blue;
}

.pcontent-right-sample {
  margin: 40px 0 0 10px;
  font-size: 20px;
}

.eria {
  margin-bottom: 30px;
}

.eria h2 {
  margin: 20px 0 10px 10px;
  font-size: 30px;
}

.eria_content {
  display: flex;
}

.eria_fig {
  margin: 0 0 0 50px;
  height: 300px;
}

.eria_fig_2 {
  height: 100px;
  margin: auto;
}

.eria_text_main h3 {
  font-size: 30px;
}

.eria_text_sub {
  font-size: 20px;
  margin-left: 30px;
}

.question {
  margin-bottom: 30px;
}

.question h2 {
  margin: 20px 0 10px 10px;
  font-size: 30px;
}
