* {
　text-align: center;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-upper {
  display: flex;
  margin: 20px;
}

.hcompany {
  display: flex;
}

.hcompany-logo-1 {
  height: 90px;
}

.hcompany-name-main h1 {
  font-size: 50px;
  margin: 0 10px;
}

.hcompany-name-main h1 span {
  font-size: 40px;
}

.hcompany-name-sub h2 {
  margin: 0 20px;
  font-size: 20px;
}

.hcontact {
  margin-left: auto;
}

.hcontact-tel {
  font-size: 50px;
}

.llist-ul {
  display: flex;
  margin: 10px;
  font-size: 20px;
}

li {
  margin: 0 auto;
}

.main {
  text-align: center;
}

.main h2 {
  text-align: center;
  margin: 30px;
  font-size: 40px;
}

.main-upper {
  display: flex;
}

.main-upper h3 {
  font-size: 25px;
}

.mcase1 {
  margin-right: auto;
}

.mcase3 {
  margin-left: auto;
}

.main-lower {
  display: flex;
}

.main-lower h3 {
  font-size: 25px;
}

.mcase4 {
  margin-right: auto;
}

.mcase6 {
  margin-left: auto;
}

.mcase-fig {
  height: 250px;
  border: solid;
  border-radius: 10px;
}
