* {
　text-align: center;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.upper {
  display: flex;
  margin: 20px;
}

.ucompany {
  display: flex;
}

.ucompany-logo-1 {
  height: 70px;
}

.ucompany-name-main {
  font-size: 40px;
  margin: 0 10px;
}

.ucompany-name-main-span {
  font-size: 30px;
}

.ucompany-name-sub {
  margin: 0 20px;
}

.ucontact {
  margin-left: auto;
}

.ucontact-tel {
  font-size: 40px;
}

.llist-ul {
  display: flex;
  margin: 10px;
}

li {
  margin: 0 auto;
}
